@font-face {
  font-family: "Source Sans 3";
  src: url(../fonts/SourceSans3-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  block-size: border-box;
  list-style-type: none;
}

h1 {
  font-size: 3.4rem;
  font-weight: 300;
}

h2 {
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: -1px;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

p {
  line-height: 36px;
  margin: 25px 0;
}

.button {
  border: 1px solid #ccc;
  background: transparent;
  border-radius: 50px;
  padding: 13px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font: 500 0.75rem "Source Sans Pro";
  transition: 0.3s;
}

.button:hover,
footer a:hover {
  border: 1px solid skyblue;
  color: skyblue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px;
}

.section-1,
.section-2,
.contact {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.082);
}
/********************************/

body {
  font-family: "Source Sans 3", sans-serif;
}

header {
  min-height: 100vh;
  /** Doit faire au moins 100% de la hauteur de la taille de l'écran **/
  display: grid;
  grid-template-columns: 50% 50%;
}

.img-banner {
  background: url(../img/banner.jpg) right/cover;
}

.section-1 {
  display: grid;
  grid-template-columns: 40% 60%;
}

.img-left {
  background: url(../img/img-left.jpg) center/cover;
}

.section-2 {
  display: grid;
  grid-template-columns: 60% 40%;
}

.img-right {
  background: url(../img/img-right.jpg) center/cover;
}